<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue3.js"></script>
</head>
<body>
    <div id="app">
        <div>主要内容： list for循环练习、添加、删除 </div>
        <br>
        <input v-model="input_value"><button v-on:click="add">add</button>    
        <!--  model 拼写出错 -->
        <ul>
            <!-- :key="index+item"  绑定后只刷新变化的 -->
            <li 
                v-for="(item, index) of things_list"
                :key="index+item"   
            >
                 {{index}}, {{item}} </li>
        </ul>

    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    things_list: [1,2,3],
                    input_value: '',
                }
            },
            methods: {
                add(){
                    this.things_list.push(this.input_value)    // push ,不是put
                    this.input_value = ''
                },
                delete(){
                    
                },

            },
            

        }).mount("#app")
    </script>
</body>
</html>